/node_modules
# notas importantes acerca del proyecto y graphql
notas.txt
# archivo con observaciones antes de subir el proyecto completo
todo.txt
todo_secret.txt

#archivo con las conexiones a la base de datos
nodemon.json