.navigation{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:3.5rem;
  background: #5101d1;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.navigation__logo h1{
  margin: 0;
  font-size: 1.5rem;
  color: #dfcefc;
}
.navigation__items{
  margin-left: 1.5rem;  
}
.navigation__items ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;  
}
.navigation__items li{  
  margin: 0 1rem;    
}
.navigation__items a,
.navigation__items button{  
  text-decoration: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  font:inherit;
  background: transparent;
  cursor: pointer;
  margin: 0;
}
.navigation__items a:hover,
.navigation__items a:active,
.navigation__items a.active,
.navigation__items button:hover,
.navigation__items button:active{
    background: #ffffff;
    color: #5101d1;
    border-radius: 5px;
}
